<h1>Show Teams here </<h1>

  <div class="team">
    <h3>Name: <%= @team.name %></h3><br>
    <h4>Team Motto: <%= @team.motto %></h4><br>
  </div><br>

  <h1>Heroes</h1>
  <% @heroes.each do |hero| %>
    <div class="hero">
      <p>Hero Name: <%= hero.name %></p><br>
      <p>Hero Power: <%= hero.power %></p><br>
      <p>Hero Biography: <%= hero.bio %></p>
    </div><br>
  <% end %>
